<!DOCTYPE html>
<html>
<head>
  <title></title>

  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cerulean/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="styles1.css">
    
  
</head>
<body >

    
  <!--   -->

    <div ng-app="myApp" class="middle">
      <div id="Todo list" class="style-1" ng-controller="TodoCtrl">
      <div id="searchBoxes">
          Search Tasks : <input type="text" ng-model="globalSearch.$">

        </div>
        <header>
            <h1>Todo List</h1>
            <input type="text" ng-model="todoText"  size="30"
             />
             <button ng-click="addTodo(todo)">Add</button>
            
        </header>

        <section id="main" class="scroll" style="display: block;">

            <div >
              <input id="toggle-all" type="checkbox" ng-model="markAll"
                ng-click="toggleMarkAll()"/>
                
              <label for="toggle-all">click to complete all</label>
            
            </div>
            <ul  class="unstyled">
              <li class="list-group-item" ng-repeat="todo in todos | filter:globalSearch" >
                <button type="button" ng-click="delete(todo.id)">delete</button>


                <label class="switch">
                  <input type="checkbox" ng-model="todo.done" />
                  <span class="slider round"></span>
                </label>
                  <span class="done-{{todo.done}}" ng-hide="todo.editing" >
                  {{todo.subject}}                 
                  </span>
                  <input type="text" ng-show="todo.editing" ng-model="todo.subject">
                  <button type="submit" ng-hide="todo.editing" ng-click="change(todo); todo.editing =true">Edit</button>
                   <button type="submit" ng-show="todo.editing" ng-click="save($index); todo.editing === false">Save</button>
                   <button type="submit" ng-show="todo.editing" ng-click="cancel($index); todo.editing === false">Cancel</button>




                  
              </li>
            </ul>
        
        </section>
        
        <footer style="display: block;">
            <div class="todo-count">completed tasks : {{todos.length - remaining()}} of {{todos.length}} </div> </br>
            <div class="todo-count">uncompleted tasks : {{remaining()}} of {{todos.length}} </div>
              
                 <!-- <button ng-click="delete(todo.id)" > Clear <span >{{(todos.length - remaining())}} {{itemText()}}</span> </button> -->
              
             

        </footer>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>

        
              
      </div>
    </div>

    <script>
      angular.module('myApp', []);
angular.module('myApp').controller('TodoCtrl',['$scope','$http', function($scope,$http) {

  $scope.todos = [];
  $scope.markAll = false;

  $http.get('http://rest.learncode.academy/api/johnbob/r2-1')
    .success(function(todos) {
      $scope.loaded = true;
      $scope.todos = todos;
    }).error(function(err) {
      alert(err);
    });

    $scope.newField = [];

    $scope.addTodo = function(title) {
      

      $http.post('http://rest.learncode.academy/api/johnbob/r2-1',  {
        subject: $scope.todoText,
        isCompleted: todoText.done
      }).success(function(todo) {
        
        
        $scope.todos.push({subject:$scope.todoText, done:false});
        $scope.todoText = '';
      }).error(function(err) {
        
        return alert(err.message || "an error occurred");
      });
    }
  






 $scope.delete = function(text) {
     
       $http.delete('http://rest.learncode.academy/api/johnbob/r2-1/'+ text)
    .success().error(function(err) {
      alert(err);
     });
     
        var oldTodos = $scope.todos;  
        $scope.todos = [];
        angular.forEach(oldTodos, function(todo) {
           if (!todo.done) $scope.todos.push(todo);
        });
    };





  $scope.remove = function(){
    $scope.todos.splice(this.$index, 1)
  }


     
   





 
    
  $scope.remaining = function() {
    var count = 0;
    angular.forEach($scope.todos, function(todo) {
      count += todo.done ? 0 : 1;
    });
    return count;
  };

  
      
  $scope.toggleMarkAll = function() {
      angular.forEach($scope.todos, function(todo) {
        todo.done =$scope.markAll;
      });
    };

  $scope.change = function(field){
      
        var todoIndex = $scope.todos.indexOf(field);
   
        $scope.newField[todoIndex] = angular.copy(field);
        $scope.todos[todoIndex].editing = true;


    }

    $scope.save = function(index) {

      $scope.todos[index].editing = false;
      
       $http.put('http://rest.learncode.academy/api/johnbob/r2-1/'+ text)
       .success().error(function(err) {

        var oldTodos = $scope.todos;  
        $scope.todos = [];
        angular.forEach(oldTodos, function(todo1) {
            
           if (todo.done) $scope.todos.push(todo);
        });

    
       return alert(err.message || "an error occurred");
    });


    };

    $scope.cancel = function(index) {
        $scope.todos[index] = $scope.newField[index];      
    };



  }]);

 
    



    </script>

</body>
</html>
